In [4]:
age = 20
course = "Data Science"
CGPA = 8.5
Billionaire = True

print(type(age))
print(type(course))
print(type(CGPA))
print(type(Billionaire))

print(course + str(age))

<class 'int'>
<class 'str'>
<class 'float'>
<class 'bool'>
Data Science20

In [5]:
bool(0)
bool(1)
bool("")
bool("hi")

True

In [8]:
name = input("Enter your name")
age = int(input("Enter your age"))

print(name)
print(age)

print(f"My name is {name} and i am {age} years old")

Enter your name Adi
Enter your age 20

Adi
20
My name is Adi and i am 20 years old

In [9]:
name = input("Enter your name")
age = input("Enter your age")
branch = input("Enter your branch")

Maths = int(input("Enter your marks in Maths"))
Science = int(input("Enter your marks in Science"))
English = int(input("Enter your marks in English"))

Total_marks = Maths + Science + English
Average_marks = float(Total_marks/3)

print(f"{name}'s final marks are {Total_marks} and average marks are {Average_marks}")

Enter your name Aditya
Enter your age 20
Enter your branch Cse-Iot
Enter your marks in Maths 95
Enter your marks in Science 98
Enter your marks in English 99

Aditya's final marks are 292 and average marks are 97.33333333333333